.container {
  width: 70%;
  height: 50%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  width: 60%;
  height: 40%;
}
.card img {
  border-radius: 6px;
  box-shadow: 5px 5px 5px;
}
